My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e041290b-7f29-4f86-b9ba-38f5b943abe5",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "RsECRZti8mJY8dsw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are itelligent{{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "79049470-44c9-4f98-b005-565f334e61d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        208
      ],
      "id": "3056efa5-15bd-43af-88ac-bc297083bb3d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9ZXb1IjsR8m5gJLw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=smaranoffic0705@gmail.com",
        "subject": "hi",
        "message": "=ai model{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "946e9ac0-5610-4af2-adba-81ad13bb6f63",
      "name": "Send a message",
      "webhookId": "49b9a41e-7304-4640-81ca-5fe4d8b1c036",
      "credentials": {
        "gmailOAuth2": {
          "id": "RsECRZti8mJY8dsw",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aff817e6-0732-4d29-a5cf-2e1409658bc1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "87ab1e091c9d7cbb90c81bbb3ecc2d27859400f2d47a6c666c8cf01c8c01bbd9"
  },
  "id": "mwWe4nuyOzL606hy",
  "tags": []
}